#principal {
    width: 920px;
}

.noticia {
    background: rgb(212, 212, 212);
    padding: 5px;
    width: 250px;
    margin: 8px;
    float: left;
}

.clear {
    clear: both;
}

.imagem-galeria {
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
}

body {
    background: #f4f4f4;
}