/* Animações */

@keyframes animacao-caixa {
    from {/*Estado inicial */
        background: red !important; 
        border-radius: 0px;
        top: 0px;
        left: 0px;
    }
    to {/*Estado final */
        background: green;
        border-radius: 300px;
        top: 200px;
        left:200px;
    }
}

@-webkit-keyframes animacao-caixa {
    from {/*Estado inicial */
        background: red !important; 
        border-radius: 0px;
        top: 0px;
        left: 0px;
    }
    to {/*Estado final */
        background: green;
        border-radius: 300px;
        top: 200px;
        left:200px;
    }
}

@-o-keyframes animacao-caixa {
    from {/*Estado inicial */
        background: red !important; 
        border-radius: 0px;
        top: 0px;
        left: 0px;
    }
    to {/*Estado final */
        background: green;
        border-radius: 300px;
        top: 200px;
        left:200px;
    }
}

@-moz-keyframes animacao-caixa {
    from {/*Estado inicial */
        background: red !important; 
        border-radius: 0px;
        top: 0px;
        left: 0px;
    }
    to {/*Estado final */
        background: green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}


#caixa {
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    /* animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate; */

    -webkit-animation: animacao-caixa 5s 3s alternate;
    -moz-animation: animacao-caixa 5s 3s alternate;
    -O-animation: animacao-caixa 5s 3s alternate;
    animation: animacao-caixa 5s 3s alternate;
}